/target/


.idea/
*.iws
*.iml
*.ipr

.vscode/
.history/
.shelf/

*.swp
*.swo
*~
.DS_Store
Thumbs.db
Desktop.ini

/dist/
/build/
*.exe
*.msi
*.deb
*.rpm
*.dmg

*.log
*.tmp
*.bak
*.sqlite
*.sqlite-journal

.env
